.title {
  font-size: 32px;
  margin-bottom: 40px;
}
.tab-content table {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 100%;
}
.tab-content th {
  background-color: #dc294a;
  color: #FFF;
  font-size: 12px;
  text-align: left;
  padding: 15px 10px;
  text-transform: uppercase;
}
.tab-content tr td {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
.tab-content tr:nth-child(even) td {
  background-color: #ffe8ec;
}
.tab-content tr:last-child td {
  border-bottom: 1px solid #dc294a;
}
.tab-content .item-action {
  color: #dc294a;
}
.tab-content .item-action:hover {
  color: #272c40;
  cursor: pointer;
}
.tab-content .toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tab-content .toolbar .filter {
  display: flex;
}
.tab-content .toolbar .filter div.active {
  background-color: #dc294a;
  color: #fff;
}
.tab-content .toolbar .filter div,
.tab-content .toolbar .controls div {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  min-width: 60px;
  transition: all ease 0.3s;
}
.tab-content .toolbar .filter div:hover,
.tab-content .toolbar .controls div:hover {
  background-color: #dc294a;
  color: #fff;
  transition: all ease 0.3s;
  cursor: pointer;
}
.tab-content .toolbar .filter div:last-child,
.tab-content .toolbar .controls div:last-child {
  margin-right: 0;
}
