<div class="tab-content tab-content-3">
  <div class="title">
    User settings
  </div>

  <table class="form">
    <tbody>
    <tr>
      <td class="label">
        <label>Date/Time Format</label>
      </td>
      <td>
        <app-dropdown [items]="dateTimeFormats"
                      [value]="userSettings?.dateTimeFormat"
        (valueSelected)="selectDateFormat($event)">
        </app-dropdown>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label>Table Alt Column Color</label>
      </td>
      <td>
        <app-color-picker [selectedColor]="userSettings?.altRowColor"
                          (colorSelected)="selectColor($event)">
        </app-color-picker>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="save-button" (click)="onSubmit()">Submit</button>

</div>


