<div class="sidebar">
  <div class="tab"
       [ngClass]="{'active': currentTabState === tabStates.AddTask}"
       (click)="changeTab(tabStates.AddTask)">
    {{tabStates.AddTask}}
  </div>
  <div class="tab"
       [ngClass]="{'active': currentTabState === tabStates.TasksList}"
       (click)="changeTab(tabStates.TasksList)">
    {{tabStates.TasksList}}
  </div>
  <div class="tab"
       [ngClass]="{'active': currentTabState === tabStates.UserSettings}"
       (click)="changeTab(tabStates.UserSettings)">
    {{tabStates.UserSettings}}
  </div>
</div>
