.title {
  font-size: 32px;
  margin-bottom: 40px;
}
.tab-content label {
  display: block;
  margin-bottom: 5px;
}
.tab-content input,
.tab-content textarea {
  box-shadow: none;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 15px;
  min-width: 500px;
}
.tab-content input:focus,
.tab-content textarea:focus {
  outline: none;
  border: 1px solid #5181b8;
}
.tab-content .save-button {
  background-color: #272c40;
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 100px;
}
.tab-content .save-button:active {
  background-color: #272c40;
  outline: none;
}
.tab-content .save-button:focus {
  outline: none;
}
.tab-content .save-button:hover {
  background-color: #40465d;
  cursor: pointer;
}
