<div class="data-description" *ngIf="task">
  <div class="description-item">
    <div class="item-title"> {{'Name:'}} </div>
    <div class="item-info">{{task.name}} </div>
  </div>

  <div class="description-item">
    <div class="item-title">{{'Description:'}}   </div>
    <div class="item-info"> {{task.description}} </div>
  </div>

  <div class="description-item">
    <div class="item-title">{{'Status:'}}   </div>
    <div class="item-info">{{!task.isCompleted ? 'Active' : 'Completed'}} </div>
  </div>

  <div class="description-item">
    <div class="item-title">{{'Priority:'}}   </div>
    <div class="item-info"> {{task.priority}} </div>
  </div>

  <div class="description-item">
    <div class="item-title">{{'Added:'}}   </div>
    <div class="item-info">{{task.createdDate}} </div>
  </div>
</div>
