.data-description {
  border: 1px solid #ccc;
  padding: 20px;
}

.description-item {
  display: flex;
  margin-bottom: 20px;
}

.data-description .item-title {
  font-weight: bold;
  margin-right: 10px;
  min-width: 120px;
}
